<h1>To Do</h1>

  <p>Here are all your tasks:</p>

<!--Display all tasks here-->
  <ul>
    <% @tasks.each() do |task| %>
      <li><%= task.description() %></li>
    <% end %>
  </ul>

<!--Form to write new task-->
  <p>Create a new task:</p>

  <form action="/tasks" method="post">
    <label for="description">Task Description</label>
    <input id="description" name="description" type="text">

    <button type="submit">Add task</button>
  </form>