<h1 class="text-left">To Do App</h1>
<p><a href="/task/new" >Create a new task</a></p>

<h2>Your Tasks:</h2>
<!--Display all tasks here-->
  <ul>
    <% @tasks.each() do |task| %>
      <li><%= task.description() %></li>
    <% end %>
  </ul>