<div style="margin-top:20px ">
<form action="/tasks" method="post">
    <label for="description">Task Description</label>
    <input id="description" name="description" type="text">
    <button class="btn btn-primary" type="submit">Add task</button>
 </form>
</div>